.column{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stockContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100vw !important;
    overflow-x: hidden;
    min-height: auto;
}
.loadingContainer{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}