.loadingContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .container{

 }
 .header{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
 }
 .h4{
     color: black;
     margin: 0;
 }
 .information{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 20px;
 }
 .stockInfo{
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px #ced0d3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .compInfo{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px #ced0d3;
    padding: 40px;
    text-align: justify;
 }
 .button{
    border: none;
    color: white;
    background-color:#3e87f2;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.button:hover{
    cursor: pointer;
    background-color:#5791e9;
}
.lead{
    font-weight: 600;
}